.eventList {
  width: 100%;
  h2 {
    text-align: center;
    padding: 1rem 0;
    font-weight: 300;
  }
  .title {
    width: 100%;
    .sort {
      display: flex;
      gap: 0.6rem;
      align-items: center;
      padding: 0.4rem 0;
      span {
        padding: 0.1rem 0.5rem;
        border-radius: 5px;
        background-color: var(--color-bg);
        cursor: pointer;
      }
    }
  }
}
